__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/
## .env
# data/
logs/
*.pt
*.onnx
runs/
*.jpg


*.png
!app/ui/static/img/
.DS_Store


*.jpg
*.jpeg
!app/ui/static/img/*.jpg
!app/ui/static/img/*.jpeg
!app/ui/static/img/*.png